{% extends 'base.html.twig' %}
{% block title %}Edit user{% endblock %}

{% block body %}
    <h1>Edit user #{{ userId }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="actions" style="margin-top:12px;">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" href="{{ path('user_index') }}">Back</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
