{% extends 'base.html.twig' %}
{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <div class="actions">
        <a class="btn btn-primary" href="{{ path('user_new') }}">+ Add user</a>
        <span class="muted">Data from Phoenix API</span>
    </div>

    <hr>

    {{ form_start(filterForm) }}
    <div class="row">
        <div>{{ form_row(filterForm.first_name) }}</div>
        <div>{{ form_row(filterForm.last_name) }}</div>
        <div>{{ form_row(filterForm.gender) }}</div>
        <div>{{ form_row(filterForm.birthdate_from) }}</div>
        <div>{{ form_row(filterForm.birthdate_to) }}</div>
        <div>
            <button class="btn" type="submit">Filter</button>
            <a class="btn" href="{{ path('user_index') }}">Reset</a>
        </div>
    </div>
    {{ form_end(filterForm) }}

    {% set currentSortBy = app.request.query.get('sort_by') %}
    {% set currentSortDir = app.request.query.get('sort_dir') %}

    {% macro sort_link(label, column, currentSortBy, currentSortDir) %}
        {% set nextDir = 'asc' %}
        {% if currentSortBy == column and currentSortDir == 'asc' %}
            {% set nextDir = 'desc' %}
        {% endif %}
        <a href="{{ path('user_index', app.request.query.all | merge({'sort_by': column, 'sort_dir': nextDir})) }}">
            {{ label }}
            {% if currentSortBy == column %}
                {% if currentSortDir == 'asc' %}▲{% else %}▼{% endif %}
            {% endif %}
        </a>
    {% endmacro %}

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>{{ _self.sort_link('First name', 'first_name', currentSortBy, currentSortDir) }}</th>
            <th>{{ _self.sort_link('Last name', 'last_name', currentSortBy, currentSortDir) }}</th>
            <th>{{ _self.sort_link('Gender', 'gender', currentSortBy, currentSortDir) }}</th>
            <th>{{ _self.sort_link('Birthdate', 'birthdate', currentSortBy, currentSortDir) }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.gender }}</td>
                <td>{{ u.birthdate }}</td>
                <td class="actions">
                    <a class="btn" href="{{ path('user_edit', {id: u.id}) }}">Edit</a>
                    <form class="inline" method="post" action="{{ path('user_delete', {id: u.id}) }}" onsubmit="return confirm('Delete user?');">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="6">No users</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
